<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<style>
			body {
			background: #EEE;
			/* font-size:0.9em !important; */
			}

			.invoice {
			width: 970px !important;
			margin: 50px auto;
			}
			.invoice .invoice-header {
			padding: 25px 25px 15px;
			}
			.invoice .invoice-header h1 {
			margin: 0;
			}
			.invoice .invoice-header .media .media-body {
			font-size: 0.9em;
			margin: 0;
			}
			.invoice .invoice-body {
			border-radius: 10px;
			padding: 25px;
			background: #FFF;
			}
			.invoice .invoice-footer {
			padding: 15px;
			font-size: 0.9em;
			text-align: center;
			color: #999;
			}

			.logo {
			max-height: 70px;
			border-radius: 10px;
			}

			.dl-horizontal {
			margin: 0;
			}
			.dl-horizontal dt {
			float: left;
			width: 80px;
			overflow: hidden;
			clear: left;
			text-align: right;
			text-overflow: ellipsis;
			white-space: nowrap;
			}
			.dl-horizontal dd {
			margin-left: 90px;
			}

			.rowamount {
			padding-top: 15px !important;
			}

			.rowtotal {
			font-size: 1.3em;
			}

			.colfix {
			width: 12%;
			}

			.mono {
			font-family: monospace;
			}
			th {
				background-color: #d9edf7;
				color: black;
			} 
			.bg-info {
				background-color: #d9edf7;
				color: black;
				padding: 3em;
			}
		</style>
	</head>

	<body>
		<div class="container invoice">
			<div class="row">
				<div class="col-xs-8">
				  <h5 class="mono" style="font-size: 1.4em;"><strong>GSTIN: 33ADRPV1260F1ZG</strong><h5>
				</div>
				<div class="col-xs-4">
					<h4 class="text-right mono" style="font-size: 1.4m;"><strong>Phone no. +91 9443792343</strong></h4>
				</div>
			  </div>
			<div class="invoice-header">
				<div class="bg-info text-center">
					<h1 class="text-center text-primary">Shree kandhan Metals</h1>
					<h3 class="text-center text-dark">STAINLESS STEEL UTENSILS MANUFACTERER & MERCHANTS</h4>
					<h4>
						No. 1664/2, New Bye-Pass Road, (Near Bharath Petrol Bunk),
						VELLORE - 632004, Vellore District.,
					</h4>
				</div>
			  <br><br><br>
			  <div class="row">
				<div class="col-xs-8">
				  <h1>Invoice</h1>
				  <h3> No. {{bill_no}}</h3>
				</div>
				<div class="col-xs-4">
					<h4 class="text-right" style="font-size: 1.3em;">Date: {{date}}</h4>
				</div>
			  </div>
			</div>
			<div class="invoice-body">
			  <div class="row">
				<div class="col-xs-12">
				  <div class="card pd-3">
					<h3 style="font-size: 1.5em; line-height: 30px;"><strong>Customer details:</strong></h3>
					<h4 style="font-size: 1.5em; line-height: 30px;">
						{{to}} lksjdlkasjlfkjaslkdfjlaksjdflkajsdlkfja
					</h4>
					<h5 class="mono" style="font-size: 1.8em;"><strong>GSTIN: {{party_gstin_no}}</strong><h5>

				  </div>
				</div>
			  </div>
			  <br><br>

			  <div class="panel panel-info">
				<table class="table table-bordered table-condensed">
				  <thead class="thead-dark"> 
					<tr>
					  <th style="font-size: 1.3em;">Description</th>
					  <th  style="font-size: 1.3em;" class="text-center colfix">HSN CODE</th>
					  <th  style="font-size: 1.3em;" class="text-center colfix">No. of Articles</th>
					  <th  style="font-size: 1.3em;" class="text-center colfix">Weight (kg/gm)</th>
					  <th  style="font-size: 1.3em;" class="text-center colfix">Amount (Rs.)</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td>
						<p  style="font-size: 1.4em;"><strong>{{description}}</strong></p>
					  </td>
					  <td class="text-right">
						<p  style="font-size: 1.4em;"><strong>{{hsn_code}}</strong></p>
					  </td>
					  <td class="text-right">
						<p  style="font-size: 1.4em;"><strong>{{no_of_articles}}</strong></p>
					  </td>
					  <td class="text-right">
						<p  style="font-size: 1.4em;"><strong>{{weight}}</strong></p>
					  </td>
					  <td class="text-right">
						<p  style="font-size: 1.4em;"><strong>{{amount}}.57</strong></p>
					  </td>
					</tr>
				  </tbody>
				</table>
			  </div>

			  <br><br>


			  <div class="panel panel-default">
				<table class="table table-bordered table-condensed">
				  <thead>
					<tr>
					  <td  style="font-size: 1.3em;" class="text-center col-xs-1"><strong> Total (Rs.)</strong></td>
					  <td  style="font-size: 1.3em;" class="text-center col-xs-1"><strong> CGST {{cgst_per}}%</strong></td>
					  <td  style="font-size: 1.3em;" class="text-center col-xs-1"><strong>SGST {{sgst_per}}%</strong> </td>
					  <td  style="font-size: 1.3em;" class="text-center col-xs-1"><strong>IGST {{igst_per}}%</strong></td>
					  <td  style="font-size: 1.3em;" class="text-center col-xs-1"><strong>Round off (Rs.)</strong></td>
					  <td  style="font-size: 1.3em;" class="text-center col-xs-1"><strong>Grand total (Rs.)</strong></td>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <th  style="font-size: 1.3em;" class="text-center rowtotal mono">{{total}}</th>
					  <th  style="font-size: 1.3em;" class="text-center rowtotal mono">{{cgst}}</th>
					  <th  style="font-size: 1.3em;" class="text-center rowtotal mono">{{sgst}}</th>
					  <th  style="font-size: 1.3em;" class="text-center rowtotal mono">{{igst}}</th>
					  <th  style="font-size: 1.3em;" class="text-center rowtotal mono">{{round_off}}</th>
					  <th  style="font-size: 1.3em;" class="text-center rowtotal mono">{{grand_total}}</th>
					</tr>
				  </tbody>
				</table>
			  </div>
		  
			  <br><br><br><br><br>
			  <div class="card">
				<div class="col-xs-8">
					<h4><strong>Dispatch No - {{dispatch}}</strong> </h4>
				</div>
				<div class="col-xs-4">
					<h4 style="font-weight: 800w;"><strong>For Shree kandhan Metals</strong></h4>
					<img width="150px" height="100px" src={{signature}} alt="signature">
				</div>
			  </div>
			</div>
		  </div>
	</body>
</html>